.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1 0 auto;
}

.ensg-search-container {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.ensg-search-container li:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.choice-container {
  background-color: white;
}

.projects-container {
  max-height: 50vh;
  overflow-y: auto;
}

.link-style:hover {
  color: rgb(80, 131, 195) !important;
  cursor: pointer;
  text-decoration: underline;
}

.dark-blue {
  color: #2c3e50 !important;
}

.search-button {
  margin-bottom: 1rem;
  margin-top: auto;
}

/*SEARCHES LIST*/
.custom-list-group h5,
.custom-list-group h6,
.custom-list-group p,
.custom-list-group svg {
  color: #212529;
}

.custom-list-item {
  border: 1px solid #2c3e50;
  border-top-width: 1px !important;
  border-radius: 0.25em;
}

.custom-list-item:hover {
  background-color: white;
}

.vertical-line {
  border-left: 1.5px solid #212529;
  height: 20px;
  margin: auto 5px;
}

.vertical-line-footer {
  border-left: 1.5px solid white;
  height: 25px;
  margin: auto 10px;
}

.custom-checkbox input[type="checkbox"]:disabled + label:before {
  border-color: #eee;
  color: #ccc;
  background: white;
}

.custom-list-item svg {
  transform: scale(1.1);
  pointer-events: none;
}

.list-icons button:hover {
  opacity: 0.75;
}

.tooltip-inner {
  background-color: rgb(90, 92, 95);
  opacity: 1;
}

/* NAVIGATION */
.profile-button {
  background-color: transparent;
  border-color: transparent;
}

.profile-button:hover {
  color: #212529;
  background-color: transparent;
}

.profile-button:focus,
.profile-button:active {
  color: #212529 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

/* FOOTER */
footer {
  flex-shrink: 0;
  height: 4em;
  margin-top: 3em;
  color: white;
  background-color: #7b8a8b;
}

footer a {
  color: white;
}

footer a:hover {
  color: #212529;
}

/* GENERAL */
button:focus {
  box-shadow: none !important;
}
