.App {
	width: 100%;
}

.ensg-search-container {
	text-align: center;
	max-width: 500px;
	margin: 0 auto;
}

.projects-container {
	max-height: 60vh;
	overflow-y: auto;
}

.link-style:hover {
	color: rgb(80, 131, 195) !important;
	cursor: pointer;
	text-decoration: underline;
}

.dark-blue {
  color: rgb(53, 64, 80) !important;
}

.custom-list-group h5,
.custom-list-group h6,
.custom-list-group p,
.custom-list-group svg {
  color: #212529;
}

.custom-list-item {
  border: 2px solid rgba(53, 64, 80);
  border-top-width: 2px !important;
  border-radius: 0.25em;
}

.vertical-line {
  border-left: 1.5px solid #212529;
  height: 20px;
  margin: auto 5px;
}

.custom-checkbox input[type="checkbox"]:disabled + label:before {
  border-color: #eee;
  color: #ccc;
  background: white;
}

.list-icons svg {
  margin-left: 20px;
  transform: scale(1.15);
}

.search-button {
  margin-bottom: 1rem;
  margin-top: auto;
}
